@font-face {
  font-family: 'Avenir-Medium';
  src: url('../fonts/Avenir-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Avenir-Roman';
  src: url('../fonts/Avenir-Roman.woff2') format('woff2'),
    url('../fonts/Avenir-Roman.woff') format('woff');
}

@font-face {
  font-family: 'Avenir-Heavy';
  src: url('../fonts/Avenir-Heavy.woff2') format('woff2'),
    url('../fonts/Avenir-Heavy.woff') format('woff');
}

@font-face {
  font-family: 'Avenir-Black';
  src: url('../fonts/Avenir-Black.woff2') format('woff2'),
    url('../fonts/Avenir-Black.woff') format('woff');
}

* {
  font-family: 'Avenir-Roman', Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Avenir-Medium', Helvetica, sans-serif;
}
